@using Library.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
    <h2>Patron: @Model["patron"].GetName()</h2>
    <hr>
    <p>Books checked out by @Model["patron"].GetName():</p>
    <ul>
        @foreach(var copy in @Model["patronCopies"])
            {
                @if(copy.GetCheckoutStatus()==true)
                {
                <form action = "/patrons/@Model["patron"].GetId()/returnCopy" method = "post">
                <input type = "text" name="patronId" value =@Model["patron"].GetId() hidden>
                <input type = "text" name="copyId" value =@copy.GetId() hidden>
             <li> @copy.GetName()</li>  <button class="btn btn-sm btn-info" type = "submit">Return Book</button>
             </form>
                }
            }
    </ul>
    <h4>Add more books for this Patron:</h4>
    <form action = "/patrons/@Model["patron"].GetId()/addCopy" method = "post">
        <input type = "text" name="patronId" value =@Model["patron"].GetId() hidden>
        <label for = "copyId">Choose copy</label>
        <select name = "copyId" type = "text"><br>
            @foreach(var copy in @Model["allCopies"])
            {
                @if(copy.GetCheckoutStatus()==false)
                {
                <option value="@copy.GetId()"> @copy.GetName() </option>
                }
            }
        </select>
        <button class="btn btn-sm btn-primary" type = "submit"> Check out this copy to @Model["patron"].GetName() </button><br>
    </form>
    <hr>
</div>


