@using Library.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
    <h2>Author: @Model["author"].GetName()</h2>
    <hr>
    <p>Books by this Author:</p>
    <ul>
        @foreach(var book in @Model["authorBooks"])
            {
             <li><a href="/books/@book.GetId()"> @book.GetName()</a></li>
            }
    </ul>
    <h4>Add more books for this Author:</h4>
    <form action = "/authors/@Model["author"].GetId()/addBook" method = "post">
        <input type = "text" name="authorId" value =@Model["author"].GetId() hidden>
        <label for = "bookAdded">Choose Books</label>
        <select name = "bookAdded" type = "text"><br>
            @foreach(var book in @Model["allBooks"])
            {
                <option value="@book.GetId()"> @book.GetName() </option>
            }
        </select>
        <button class="btn btn-sm btn-primary" type = "submit"> Add Book </button><br>
    </form>
    <hr>
</div>